@import "./variables";

@mixin container($width) {
  width: $width;
  margin: auto;
}
@mixin position($position,$top) {
  position: relative;
  top:$top;
}
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

// my styless start from here

.home-footer {
	text-align: center;
	background-color: $footerBackground;
	color: white;
	font-weight: normal;
	font-size: 22px;
	height: auto;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 0.5px;
}
.container{
  @include container(90%);
}

.wave-container{
	@include container(90%);
}
.container-color{
	background-color: $footerBackground;
}
.separator{
  margin: 8px;
  padding-right: 6px;
}

.btn-separator{
	margin-top: 15px;
	margin-left: 33px;
}
.wave-separator{
  margin-top: 25px;
}

.result{
	width: 800%;
	height: 800px;
}
.result-card{
	height: 800px;
}
.btnContainer{
  display: flex;
  justify-content: center;
  align-content:center ;
}
.right-space{
  margin-right: 10px;
}

.fullHeight{
  height: 100%;
}

.field{
	width: 100%;
}
.card{
  min-height: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  border-radius: 8px;
  height: 95%;
}
// my styles ends here

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

p {
	font-weight: 200;
}

.title {
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	margin-left: 5%;
	width: 100%;
	color: white;
	// background-color: #61dafb;
}

.section {
	display: flex;
	flex-direction: row;
}
